#what .items {
  display: block;
  padding: 1rem;
}
/* Align Icons To Left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position Icons */
#what .items .item i {
  margin-right: 1.3rem;
  margin-bottom: 0;
  align-self: center;
}

/* SmartPhones */
@media (max-width: 500px) {
  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.75rem 0.5rem;
  }

  #navbar ul li a {
    padding: 0.75rem 0.5rem;
    margin-left: 0.5rem;
  }

  #showcase .showcase-content {
    margin-top: -4rem;
  }

  #what .items .item {
    margin-bottom: 1.5rem;
  }

  #what .items .item i {
    padding: 0.75rem;
    border-radius: 50%;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    display: block;
  }

  #contact .map {
    height: 400px;
  }

  #contact .contact-form .submit {
    width: 40%;
  }

  #footer-text {
    font-size: 0.85rem;
  }
}

@media (max-height: 640px) {
  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}
